.services__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
    max-width: 85%;
    margin: 0 auto;
}


.services__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out;
    width: 360px;
    height: 400px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* Motion of the services cards */
.services__card:hover {
    transform: translateY(-20px);
}

/* Make the card's color different */
.services__card:nth-child(1) {
    background-color: rgb(108, 108, 229);
    box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
}

.services__card:nth-child(2) {
    background-color: rgb(249, 215, 76);
    box-shadow: 0px 5px 20px 0px rgb(249, 215, 76 / 50%);
}

.services__card:nth-child(3) {
    background-color: rgb(249, 123, 139);
    box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
}

.services__img {
    margin-bottom: 1.25rem;
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;color: #fff;
}

.services__description {
    color: #f8f8f8;

}

/* Only Change the name of 2 card */
.services__card:nth-child(2) .services__title {
    color: var(--title-color);
}

.services__card:nth-child(2) .services__description {
    color: var(--title-color);
}


/* Responsive on 1024px */
@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}


/* Responsive on 768px */
@media screen and (max-width: 768px) {
    .services__container {
        grid-template-columns: 310px;
    }
}

/* Responsive on 350px */
@media screen and (max-width: 350px) {
    .services__container {
        grid-template-columns: 1fr;
        
    }

}


