.services__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
    max-width: 40%;
    margin: 0 auto;
    display: grid; /* Display the container as a grid */
    justify-content: center; /* Center the grid items horizontally */
}


.services__card {
    text-align: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.8s ease-in-out;
    width: 300px;
    height: 350px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.services__icon {
    font-size: 2.5rem; /* Adjust this value as needed */
    color: #f8f8f8;
    margin-bottom: 1.5rem;
  }
  


/* Motion of the services cards */
.services__card:hover {
    transform: translateY(-20px);
}

/* Make the card's color different */
.services__card:nth-child(1) {
    background-color: rgb(108, 108, 229);
    box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
}

.services__card:nth-child(2) {
    background-color: rgb(249, 215, 76);
    box-shadow: 0px 5px 20px 0px rgb(249, 215, 76 / 50%);
}

.services__card:nth-child(3) {
    background-color: rgb(249, 123, 139);
    box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
}

.services__card:nth-child(4) {
    background-color: rgb(75, 201, 159);
    box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
    margin-left: 55%; /* Shifts 5th card to the right */
    margin-top: -70px; /* Adjusts the vertical position */
    
}

.services__card:nth-child(5) {
    background-color: rgb(0, 215, 225);
    box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
    margin-left: 55%; /* Shifts 5th card to the right */
    margin-top: -70px; /* Adjusts the vertical position */
    
}

.services__card:nth-child(6) {
    
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
    margin-left: 55%;
    margin-top: -70px;
    height: 350px;
 }
 


.services__img {
    margin-bottom: 0.5rem;
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;color: #fff;
}

.services__description {
    color: #f8f8f8;
    font-size: --normal-font-size;

}

/* Only Change the name of 2 card */
.services__card:nth-child(2) .services__title {
    color: var(--title-color);
}

.services__card:nth-child(2) .services__description {
    color: var(--title-color);
}


/* Responsive on 1024px */
@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}


/* Responsive on 768px */
@media screen and (max-width: 768px) {
    .services__container {
        grid-template-columns: 310px;
    }

    .services__card:nth-child(4) {
        background-color: rgb(13, 119, 83);
        box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
        margin-left: 0; /* Shifts 5th card to the right */
        margin-top: 0; /* Adjusts the vertical position */
       
        
    }
    
    .services__card:nth-child(5) {
        background-color: rgb(13, 119, 83);
        box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
        margin-left: 0; /* Shifts 5th card to the right */
        margin-top: 0; /* Adjusts the vertical position */
        
       
    }
    
    .services__card:nth-child(6) {
        background-color: rgb(13, 119, 83);
        box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
        margin-left: 0; /* Shifts 5th card to the right */
        margin-top: 0; /* Adjusts the vertical position */
       
        
    }
}

/* Responsive on 350px */
@media screen and (max-width: 350px) {
    .services__container {
        grid-template-columns: 1fr;
        
    }

    .services__card:nth-child(4) {
        background-color: rgb(13, 119, 83);
        box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
        margin-left: 0; /* Shifts 5th card to the right */
        margin-top: 0; /* Adjusts the vertical position */
       
        
    }
    
    .services__card:nth-child(5) {
        background-color: rgb(13, 119, 83);
        box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
        margin-left: 0; /* Shifts 5th card to the right */
        margin-top: 0; /* Adjusts the vertical position */
        
       
    }
    
    .services__card:nth-child(6) {
        background-color: rgb(13, 119, 83);
        box-shadow: 0px 5px 20px 0px rgb(249, 123, 139 / 50%);
        margin-left: 0; /* Shifts 5th card to the right */
        margin-top: 0; /* Adjusts the vertical position */
       
        
    }

}


