.work__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.work {
    background-color: #00D7E1;
}

.work__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.work__mask {
    background: #6c6ce5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;
}

.work__card:hover .work__mask {
    opacity: 0.9;
}

.work__category {
    color: #fff;
    background-color: #6c6ce5;
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;
}

.work__title {
    color: #fff;
    font-size: var(--h3-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
}

.work__button {
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #ffd15c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;
}

.work__card:hover .work__button {
    opacity: 1;
}

.work__card:hover .work__title, 
.work__card:hover .work__category {
    opacity: 1;
    transform: translateY(0);
}

.portfolio__button-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.work__img {
    width: 100%;
    max-width: 420px;
    height: 260px;
    object-fit: fill;
    object-position: center;
    transition: .3s;
    border-radius: var(--border-radius);
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
    .work__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .work__container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 350px) {
    .work__container {
        grid-template-columns: 1fr;
    }
}