/* Location of the photo and btn Hire me */

.home {
   
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;  
    align-items: center;  
    justify-content: center;  
    background-image: url("../../assets/Asset\ 8.webp"); /* Make sure the path is correct */
    background-size: cover; /* Ensures the image fully covers the section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */    
}

.intro {
    max-width: 540px;
    /* background-color: antiquewhite; --> to see the border and location  */
    text-align: center;
    z-index: 1;  /*bug with icon tthat didnt hovered by yellow*/
}

/* My photo */
.img__container {
    margin-left: 0px;
    width: 400px;
    height: 400px;
    background: transparent; 
    border: 50%; 
    margin-bottom: 100px; 
   
} 

.home__hi {
    font-size: 40px;
    color: #fff;
    
}

.home__education {
    color: #fff;
    font-weight: bold;
    
}

.home__name {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
    color: #fff;
}

/* social icons regulation and location */
.home__socials {
    display: flex; 
    justify-content: center;
    column-gap: 1.75rem;
    margin: 1.5rem;

}
/* Size of icons */
.home__social-link {
    color: var(--container-color);
    font-size: 1.9rem;
    transition: .3s;
}

.home__social-link:hover {
    color: hsl(16, 89%, 58%);
}



@media screen and (max-width: 1024px) {
    .home__social-link {
        font-size: 1.125rem;
    }
    
  } 


/* Responsive on 768px
@media screen and (max-width: 768px) {

    .home {
        
    }
} */